.neighbors-graph {
    clear: both;
}

.neighbors-graph .svg-wrapper {
    position: relative;
}

.neighbors-graph .high-cardinality-modal {
    display: none;
}

.neighbors-graph .legend {
    display: flex;
    justify-content: center;
}

.neighbors-graph .legend .legend-entry {
    margin: 0.7em;
}

.neighbors-graph .legend .legend-entry-marker {
    vertical-align: middle;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 0.25em;
}

.neighbors-graph .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.neighbors-graph .tab {
    padding: 0.3em 0.7em;
    margin: 0 0.5em;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: #005A9C;
}

.neighbors-graph .tab:hover {
    text-decoration: none;
    border-bottom-color: #b3ddff;
}

.neighbors-graph .tab:first-child {
    border-left: none;
}

.neighbors-graph .tab.active {
    border-bottom-color: #337ab7;
}

.neighbors-graph .neighbor-tooltip {
    opacity: 0;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: -999;
    border: 2px solid #ddd;
    transition: opacity 0.2s;
    max-width: 20em;
    font-size: 12px;
}

.neighbors-graph .neighbor-tooltip.visible {
    z-index: 999;
    opacity: 1;
}

.neighbors-graph .neighbor-tooltip .tooltip-title {
    font-weight: bold;
}

.neighbors-graph .neighbor-tooltip .tooltip-class {
    font-size: 10px;
    margin-bottom: 0;
}

.neighbors-graph .neighbor-tooltip .tooltip-class-uri {
    display: inline-block;
    margin-top: 0;
    font-size: 9px;
}